/*--------------------------------------------------------------------------------RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
h2{
    font-size: 0.8em;
    color: gray;
}
h3{
    font-size: 1em;
}
/*--------------------------------------------------------------------------------HEADER*/
header{
    height: 70px;
    background-color: #ED722E;   
}

.categories a{
    color:white;
    text-decoration: none;
    padding: 5px;
}
.logo img{
    height: 40px;
}
.profile i{
    color: white;
    padding: 0 5px;
}

.categories{
    display: flex;
    flex-basis: 10%;
    align-items: center;
}
.logo{
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}
.profile{
    display: flex;
    flex-basis: 10%;
    justify-content: right;
    align-items: center;
}

/*--------------------------------------------------------------------------------MAIN*/
.item{
    margin: 40px 5px 0;
    width: calc( 100% / 3 - 10px);
    position: relative;
}
.photo img{
    width: 100%;
}
.photo img:first-child{
    position: absolute;
    z-index: 1;
}
.photo:hover img:first-child{
    display: none;
}
.item .photo img:last-child{
    position: absolute;
    top: 0;
    left: 0;
}

.photo{
    min-height: 375px;
    position: relative;
}

.price{
    color:red;
}
.discounted::after{
    content: " 29.99 \20AC";
    text-decoration: line-through;
    color: gray;
}
.info-added{
    display: flex;
    color: white;
    position: absolute;
    bottom: 100px;
    z-index: 1;
}
.like{
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.like:hover{
    color: red;
}
.description{
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
}
.discount-in-perc{
    background-color: red;
    padding: 3px 5px;
}
.sustainability-box{
    background-color: green;
    margin-left: 2px;
    padding: 3px 5px;
}
/*--------------------------------------------------------------------------------FOOTER*/

footer{
    background-color: black;

}
footer .container{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
footer .div{
    padding: 5px ;
}